# Foot Traffic Data Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
stores = pd.read_csv("data/db/stores.csv", dtype={"store_id":"string"})
customers = pd.read_csv("data/db/customers.csv", dtype={"customer_id":"string"})

visits = pd.read_csv("data/db/visits.csv", dtype={"customer_id":"string", "store_id":"string"})\
    .merge(stores, on="store_id", how="left")\
    .merge(customers, on="customer_id", how="left")

display(stores.head())
display(customers.head())
display(visits.head())

,store_id,opened_date,latitude,longitude,store_address,city,state
0,4857,2016-09-12,42.58342,-71.80230,517 Main Street,Fitchburg,Massachusetts
1,2596,2018-10-12,34.06635,-84.67837,2728 North Main Street,Acworth,Georgia
2,7070,2015-12-04,40.63316,-74.13653,8895 Port Richmond Avenue,City of New York,New York
3,6525,2015-12-09,34.21639,-119.03760,269 Ventura Boulevard,Camarillo,California
4,7424,2022-02-02,33.44872,-86.78777,7182 Tyson Drive,Vestavia Hills,Alabama

,customer_id,customer_name,customer_birthday,customer_email,is_member,card_on_file
0,d2a21b4f,Annette Morton,1932-12-01,wmartin@yahoo.com,True,American Express
1,05e6b6f9,Linda Adams,1927-07-18,greenrebecca@miller.com,True,VISA 16 digit
2,ea609017,Eric Wood,1914-09-23,joneswilliam@yahoo.com,True,VISA 19 digit
3,22d03a03,Peter Moore,1998-05-31,ismith@gordon.net,True,Maestro
4,fd08c7b8,Ricky Green,2008-04-08,hollygoodwin@delgado-greer.org,True,JCB 15 digit

,visit_id,visit_date,store_id,customer_id,order_total,payment_method,opened_date,latitude,longitude,store_address,city,state,customer_name,customer_birthday,customer_email,is_member,card_on_file
0,075143e5,2020-01-01,2574,00504361,137.44,cash,2011-04-10,33.44872,-86.78777,7987 Tyson Drive,Vestavia Hills,Alabama,Rachel Carroll,1972-06-19,meganmartin@baker.com,True,JCB 16 digit
1,7795cda5,2020-01-01,2971,8b698701,8.79,credit,2008-08-26,43.91452,-69.96533,5519 Pleasant Street,Brunswick,Maine,Anne Cook,1952-05-11,sweeneycheryl@yahoo.com,False,Diners Club / Carte Blanche
2,a913aabc,2020-01-01,900,4a59e47d,1.72,cash,2000-10-02,40.72816,-74.07764,3760 Olean Avenue,Jersey City,New Jersey,Jasmine English,1953-08-19,jose35@warren-campbell.biz,True,Discover
3,a68e3778,2020-01-01,7070,89d5157a,8.88,credit,2015-12-04,40.63316,-74.13653,8895 Port Richmond Avenue,City of New York,New York,Zachary Hale,1987-06-28,twilcox@reynolds.com,False,JCB 16 digit
4,9be7cdd9,2020-01-01,825,253dd271,453.49,credit,2011-11-22,41.14676,-73.49484,3463 Elm Street,New Canaan,Connecticut,Alyssa Leonard,1984-08-15,patriciasmith@gmail.com,True,VISA 16 digit

In [3]:
visits.groupby("visit_date").size()

visit_date
2020-01-01    1550
2020-01-02    5460
2020-01-03    4187
2020-01-04    3012
2020-01-05    8394
              ...
2020-05-28    3811
2020-05-29    4862
2020-05-30    2725
2020-05-31    6153
2020-06-01     488
Length: 153, dtype: int64

In [5]:
stores["state"].head(10).value_counts()

California       2
Alabama          2
Massachusetts    1
Georgia          1
New York         1
Washington       1
Connecticut      1
Oregon           1
Name: state, dtype: int64